<script>
	if (indexProtocol._timer)
		clearInterval( indexProtocol._timer );
		
	$('.content').hide();
	
	function updatePage(){
		$.getJSON(indexProtocol.networkURI + '/status', function(res){
			let obj = res.result;
			
			var el = $('.content');
				el.find('#latest-block-height').html( '<a href="javascript: void indexProtocol.blockPage('+obj.sync_info.latest_block_height+');">'+ obj.sync_info.latest_block_height + '</a>');
			
			var latestDt = moment.utc( obj.sync_info.latest_block_time );	
				el.find('#latest-block-datetime').html( latestDt.format('DD.MM.YYYY <br />HH:mm ss') );
				
			var latestHash = obj.sync_info.latest_block_hash.substring( 0, 7 ); 
				el.find('#latest-block-hash').html( latestHash.toLowerCase() );
			
			let pv = obj.node_info.protocol_version;
				el.find('#current-protocol').html( pv.app + '.' + pv.block + '.' + pv.p2p + '<br />v' + obj.node_info.version);
			
			//latest height
			let _height = parseInt( obj.sync_info.latest_block_height );
			
			indexProtocol.height = _height;
			
			el.show();
		}); 
	}
	
	function newTokenGeneration(){}
	
	function newContractGeneration(){}
	
	function updateAssetsList(){
		$.getJSON(indexProtocol.networkURI + '/abci_query?path="tbl.assets.all"', function(res){
			if (!res || !res.result || !res.result.response || !res.result.response.value)
				return;
			
			var obj = window.atob( res.result.response.value );
			var tmp = '';
			var el = $('.content');
			
			if (!obj) return;  
			
			var obj = JSON.parse( obj );
			
			if (!obj) return; 

			console.log( obj );  
		
		/***
				<th style="text-align:center;">Symbol</th>
				<th style="text-align:center;">Issuer</th>	
				<th style="text-align:center;">Block</th>				
				<th style="text-align:center;">Type</th>
				<th style="text-align:center;">Divider</th>
				<th style="text-align:center;">Tx</th>
				
				<th style="text-align:center;">Initial</th>
				<th style="text-align:center;">Current</th>	
				<th style="text-align:center;">Max Supply</th>
		**/
			
			_.each(obj, function(v, i){
				/**
				if (!v.balance || v.balance == 0)
					v.balance = 0;
				else
					v.balance = '~' + v.balance;
				**/
				let type = '';
				
				if (v.type === 'coin')
					type = '<small class="label bg-yellow"> coin </small>';
				else
				if (v.type === 'token')
					type = '<small class="label bg-green"> token </small>';
				else
				if (v.type === 'contract')
					type = '<small class="label bg-blue"> contract </small>';
				
				let circulation = 0;
				
				_.each(v.holders, function(z, addr){
					circulation = circulation + z;
				});
				
				//test calc human-based 
				let _init = Number(( v.emission.initial / v.divider ) / 1000000).toFixed(2);
				let _circ = Number(( circulation / v.divider ) / 1000000).toFixed(2);
				let _max = Number(( v.emission.maxSupply / v.divider ) / 1000000).toFixed(2);
			
				let z = '<td><a href="javascript: void indexProtocol.tokenPage(\''+(v.symbol)+'\');">'+v.symbol+'</td>' + 
						'<td><a href="javascript: void indexProtocol.emitentPage(\''+v.issuerAddress+'\');">'+v.issuerName+'</a></td>' + 
						'<td><a href="javascript: void indexProtocol.blockPage('+v.emission.issueHeight+');">#'+v.emission.issueHeight+'</a></td>' + 
						'<td><b>'+v.family + '</b> ' + type+'</td>' + 
						'<td>'+(1/v.divider)+'</td>' + 
						'<td>'+v.tx.length+'</td>' + 
						'<td>'+_.size(v.holders)+'</td>' + 
						'<td style="cursor:pointer;" title="raw initial emission: '+v.emission.initial+'">'+_init+'M</td>' + 
						'<td style="cursor:pointer;" title="raw circulation supply: '+circulation+'">'+_circ+'M</td>' +
						'<td style="cursor:pointer;" title="raw total supply: '+v.emission.maxSupply+'">'+_max+'M</td>' +
						'</td>';  
				
				if (v.emission.issueHeight == 0)				
					tmp = tmp + '<tr align="center" style="font-weight:bold;">' + z + '</tr>';
				else
					tmp = tmp + '<tr align="center">' + z + '</tr>';
			
			});
			
			
			
			el.find('#assets-tbl').empty().html( tmp );
		});
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	INDEXProtocol Network <small>Testnet</small>
  </h1>
  <ol class="breadcrumb">
	<!--
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Dashboard</li>
	-->
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-align-center"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block Height</span>
		  <span class="info-box-number">
			<font id="latest-block-height"></font>
			<br />
			<font id="total-validators"></font>
		  </span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-red"><i class="fa fa-clock"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block DateTime</span>
		  <span class="info-box-number" id="latest-block-datetime"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block hash</span>
		  <span class="info-box-number" id="latest-block-hash"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-yellow"><i class="fa fa-server"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Protocol</span>
		  <span class="info-box-number" id="current-protocol"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-info"> 
		<div class="box-header with-border">
		  <h3 class="box-title">Assets Service</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body" style="text-align:center;font-size:16px;">
			<div>
				<a href="javascript: void newTokenGeneration();" class="btn btn-default btn-sm" style="font-size:16px;">
					<i class="fa fas fa-folder-plus"></i> Issue new <b>token</b>
					&nbsp;&nbsp;&nbsp;
					<span class="pull-right-container">
					  <small class="label pull-right bg-aqua"><i>TBD</i></small>
					</span>
				</a>
				&nbsp;&nbsp;&nbsp;
				
				<a href="javascript: void newContractGeneration();" class="btn btn-default btn-sm" style="font-size:16px;">
					<i class="fa fas fa-folder-plus"></i> Create new <b>contract</b>
					&nbsp;&nbsp;&nbsp;
					<span class="pull-right-container">
					  <small class="label pull-right bg-aqua"><i>TBD</i></small>
					</span>
				</a>

			</div>
        </div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
		  <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
		  <a href="javascript:void updateNetworkInfo();" class="btn btn-sm btn-default btn-flat pull-right">
			<i class="fa fa-sync"></i> Update</a>-->
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->
  
  <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-info"> 
		<div class="box-header with-border">
		  <h3 class="box-title">Tokens and Contracts</h3>
<!--
		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
-->
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin table-striped">
			  <thead>
			  <tr align="center" style="text-align:center;">
				<th style="text-align:center;" colspan="7">Asset specification</th>
				<th style="text-align:center;background-color:#f4f4f4;" colspan="3">Emission</th>
			  </tr>
			  <tr align="center" style="text-align:center;">
			    <th style="text-align:center;">Symbol</th>
				<th style="text-align:center;">Issuer</th>	
				<th style="text-align:center;">Block</th>				
				<th style="text-align:center;">Type</th>
				<th style="text-align:center;">Divider</th>
				<th style="text-align:center;">Tx</th>
				<th style="text-align:center;">Holders</th>				
				
				<th style="text-align:center;">Initial</th>
				<th style="text-align:center;">Circulation</th>	
				<th style="text-align:center;">Max Supply</th>				
			  </tr>
			  </thead>
			  <tbody id="assets-tbl">
				
			  </tbody>
			</table>
		  </div>
		  <!-- /.table-responsive --> 
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
		  <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>-->
		  <span style="" class="pull-left" id="net-total-traffic"></span>
		  <a href="javascript:void updateAssetsList();" class="btn btn-sm btn-default btn-flat pull-right">
			<i class="fa fa-sync"></i> Update</a>
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->
  
  
  
</section>
<!-- /.content -->





<script>
updatePage();
updateAssetsList();
</script>