<script>
	if (indexProtocol._timer)
		clearInterval( indexProtocol._timer );
		
	$('.content').hide(); 	
	
	function updatePage(){
		$.getJSON('https://rpc.testnet.indexprotocol.online/status', function(res){
			let obj = res.result;
			
			var el = $('.content');
				el.find('#latest-block-height').html( '<a href="javascript: void indexProtocol.blockPage('+obj.sync_info.latest_block_height+');">'+ obj.sync_info.latest_block_height + '</a>');
			
			var latestDt = moment( obj.sync_info.latest_block_time );	
				el.find('#latest-block-datetime').html( latestDt.format('DD.MM.YYYY <br />HH:mm ss') );
				
			var latestHash = obj.sync_info.latest_block_hash.substring( 0, 7 ); 
				el.find('#latest-block-hash').html( latestHash.toLowerCase() );
			
			let pv = obj.node_info.protocol_version;
				el.find('#current-protocol').html( pv.app + '.' + pv.block + '.' + pv.p2p + '<br />v' + obj.node_info.version);
			
			//latest height
			let _height = parseInt( obj.sync_info.latest_block_height );
			
			//if (indexProtocol.height == _height)
			//	return;
			
			indexProtocol.height = _height;
			
			el.show();
		});
	}
	
	var curHeight = 0;
	
	function updateBlockInfo( height ){
		var el = $('.content');
				
		if (!height)
			height = indexProtocol.height;
			
		if (!height) return;

		$.getJSON('https://rpc.testnet.indexprotocol.online/block?height=' + height, function(res){
			var obj = res.result;
			var tmp = '';
			
			el.find('#current-height').html( 'Block #<span style="font-weight:bold;">'+obj.block_meta.header.height+'</span> from '+obj.block_meta.header.time + ', hash: <i>'+obj.block_meta.block_id.hash.substring(0,32).toLowerCase()+'</i>');

			var b = obj.block.header; 
			let realHeight = parseInt( b.height );
			
			let bt = moment(b.time); //first block 
			let t = '<span title="Block commit time">'+bt.format('DD.MM.YYYY HH:mm:ss')+'</span>';   
				
			if (b.num_txs > 0)
				txs = '<b>' + b.num_txs + '</b>';
			else
				txs = '<i>0</i>';
				
			el.find('#txs-at-block').empty().html( txs );
			
			let z = '<td>'+b.height+'</td>' + 
						'<td title="Block hash: '+obj.block_meta.block_id.hash+'" style="cursor:pointer;width:250px;">'+obj.block_meta.block_id.hash.substring(0, 32).toLowerCase()+'</td>' + 
						'<td style="">'+ t + '</td>' + 
						'<td title="Proposal address: '+b.proposer_address+'" style="cursor:pointer;">'+b.proposer_address.toLowerCase()+'</td>' + 
						'<td>'+txs+'</td>';
						
			tmp = tmp + '<tr align="center">' + z + '</tr>';
			
			el.find('#header-blocks-tbl').empty().html( tmp );
			
			el.find('#control-prevnext-btn').empty().html( 
				'<a href="javascript:javascript: void indexProtocol.blockPage('+(realHeight-1)+');" ' + 
				' class="btn btn-sm btn-default btn-flat pull-left"> <i class="fas fa-arrow-left"></i> Previos Block #<b>'+(realHeight-1)+'</b></a>' + 
				'<a href="javascript:void indexProtocol.blockPage('+(realHeight+1)+');" ' + 
				' class="btn btn-sm btn-default btn-flat pull-right"> <i class="fas fa-arrow-right"></i> Next Block #<b>'+(realHeight+1)+'</b></a>' 			
			);
			
			
			//==================================================================================================
			let _data = obj.block.data.txs; 
			let decData = []; //decoded transactions 
			
			_.each(_data, function(d){
				let x = window.atob( d );
				
				if (x) {
					let t = x.split(':');
					
					if (t.length == 2){
						decData.push( {type: t[0].toUpperCase(), tx: window.atob( t[1] )} );
					}
				}
			});
			
			
			var ts = {
				'CET' : '',
				'REG' : '',
				'TRA' : ''
			};
			
			_.each(decData, function(v){
				//let tType = indexProtocol.txTypes[ v.type ]; 
				let tCode = v.type;
				let d = JSON.parse( v.tx );
				let z = '';
				
				if (tCode == 'CET'){
					//console.log( d );
					
					z = '<td><b>'+d.symbol+'</b></td>' + 
						'<td>'+d.excode+'</td>' + 
						'<td>'+d.side+'</td>' + 
						'<td>'+Number( parseInt(d.price) / 1000000 ).toFixed(6)+'</td>' + 
						'<td>'+Number( parseInt(d.amount) / 1000000 ).toFixed(6)+'</td>' + 
						'<td>'+Number( parseInt(d.total) / 1000000 ).toFixed(6)+'</td>' + 
						'<td style="">'+moment( d.ts*1000 ).format('DD.MM.YYYY HH:mm:ss')  +'</td>';
//console.log([ d.ts, (d.ts/1000), moment( d.ts*1000 ), moment( parseInt(d.ts/1000) )]);				
					//Symbol, Exchange, Side, Price, Amount, Total, Time
				}
				
				ts[ tCode ] = ts[ tCode ] + '<tr style="text-align:center;">' + z + '</tr>';
			});
			
			el.find('#txs-cet-tbl').empty().html( ts[ 'CET' ] );
			
			el.show();			
		});		
	}

	
	
	indexProtocol._timer = setInterval(function(){
		updatePage();
	}, 1000);
</script>


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	INDEXProtocol Network <small>Testnet</small>
  </h1>
  <ol class="breadcrumb">
	<!--
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Dashboard</li>
	-->
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-align-center"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block Height</span>
		  <span class="info-box-number">
			<font id="latest-block-height"></font>
			<br />
			<font id="total-validators"></font>
		  </span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-red"><i class="fa fa-clock"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block DateTime</span>
		  <span class="info-box-number" id="latest-block-datetime"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block hash</span>
		  <span class="info-box-number" id="latest-block-hash"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-yellow"><i class="fa fa-server"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Protocol</span>
		  <span class="info-box-number" id="current-protocol"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-info"> 
		<div class="box-header with-border">
		  <h3 class="box-title" id="current-height"></h3>

		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr align="center" style="text-align:center;">
			    <th style="text-align:center;">Height</th>
				<th style="text-align:center;">Block Hash</th>
				<th style="text-align:center;">Block Time</th>
				<th style="text-align:center;">Proposer addr</th>
				<th style="text-align:center;">Txs</th>
			  </tr>
			  </thead>
			  <tbody id="header-blocks-tbl">
				
			  </tbody>
			</table>
		  </div>
		  <!-- /.table-responsive -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix" id="control-prevnext-btn">
			&nbsp;
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->
  
    <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-success"> 
		<div class="box-header with-border">
		  <h3 class="box-title">Crypto Exchange Decoded Transactions (txs: <span id="txs-at-block"></span> ) from this block</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr align="center" style="text-align:center;">
			    <th style="text-align:center;">Symbol</th>
				<th style="text-align:center;">Exchange</th>
				<th style="text-align:center;">Side</th>
				<th style="text-align:center;">Price</th>
				<th style="text-align:center;">Amount</th>
				<th style="text-align:center;">Total*</th>
				<th style="text-align:center;">Time</th>
			  </tr>
			  </thead>
			  <tbody id="txs-cet-tbl">
				
			  </tbody>
			</table>
		  </div>
		  <!-- /.table-responsive -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
		  <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
		  <a href="javascript:void updateNetworkInfo();" class="btn btn-sm btn-default btn-flat pull-right">
			<i class="fa fa-sync"></i> Update</a>-->
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->


<script>
updatePage();
updateBlockInfo( <?php echo intval( $_GET['height'] ); ?> );
</script>