<script>
	if (indexProtocol._timer)
		clearInterval( indexProtocol._timer );
		
	$('.content').hide();
	
	
	
	
	
	function updatePage(){
		$.getJSON('https://rpc.testnet.indexprotocol.online/status', function(res){
			let obj = res.result;
			
			var el = $('.content');
				el.find('#latest-block-height').html( '<a href="javascript: void indexProtocol.blockPage('+obj.sync_info.latest_block_height+');">'+ obj.sync_info.latest_block_height + '</a>');
			
			var latestDt = moment( obj.sync_info.latest_block_time );	
				el.find('#latest-block-datetime').html( latestDt.format('DD.MM.YYYY <br />HH:mm ss') );
				
			var latestHash = obj.sync_info.latest_block_hash.substring( 0, 7 ); 
				el.find('#latest-block-hash').html( latestHash.toLowerCase() );
			
			let pv = obj.node_info.protocol_version;
				el.find('#current-protocol').html( pv.app + '.' + pv.block + '.' + pv.p2p + '<br />v' + obj.node_info.version);
			
			//latest height
			let _height = parseInt( obj.sync_info.latest_block_height );
			
			//if (indexProtocol.height == _height)
			//	return;
			
			indexProtocol.height = _height;
			
			el.show();
			
			updateNetworkInfo();
		});
	}
	
	function updateNetworkInfo(){
		//fetch last blocks
		$.getJSON('https://rpc.testnet.indexprotocol.online/net_info', function(res){
			var el = $('.content');
			var obj = res.result;
			var tmp = '';
						
			let totPeers = parseInt(obj.n_peers) + 1; //including current
				el.find('#total-peers-blockchain').html( totPeers + ' peers' );
				
			indexProtocol.totalNodesBytes = 0;
			
			let _tpl = {};
			
			_.each(obj.peers, function(v, i){
				let t = v.node_info.moniker.substring(0, 2);
				let nodeLocation = indexProtocol.nodeCodes[ t ];
				
				if (!nodeLocation) nodeLocation = '<i>unknown</i>';
				if (v.node_info.moniker == 'dev') nodeLocation = '<b>Developer</b>';
				
				let con = v.connection_status;
				let sendStat = '', recvStat = '';
				
				
				if (con.SendMonitor.Active == true){
					sendStat = sendStat + '<i class="fas fa-arrow-circle-up" style="color:green"></i>&nbsp;';
				} else {
					sendStat = sendStat + '<i class="fas fa-times-circle" style="color:red"></i>&nbsp;';
				}
				
				let curRate = '', avgRate = '', bytes = '';
				
					curRate = Number( parseInt(con.SendMonitor.CurRate) / 1024 ).toFixed(1);//.toPrecision(1);
					avgRate = Number( parseInt(con.SendMonitor.AvgRate) / 1024 ).toFixed(1);//.toPrecision(1);
					bytes = Math.floor( parseInt(con.SendMonitor.Bytes) / 1024 ); 
					
					if (bytes < 1024)	bytes = bytes + ' Kb'; else
					if (bytes > 1024 && bytes < (1024*1024))
						bytes = Math.floor( parseInt(bytes) / 1024 ) + ' Mb'; else 
						bytes = Math.floor( parseInt(bytes) / (1024*1024) ) + ' Gb';
						
				sendStat = sendStat + ' ' + '<span style="cursor:pointer;" title="Current speed, Kb/sec.">'+curRate+'</span>' + '/<span style="cursor:pointer;" title="Average speed, Kb/sec.">' + avgRate + '</span> Kb;&nbsp;' + bytes;	
				
				
				
				if (con.RecvMonitor.Active == true){
					recvStat = recvStat + '<i class="fas fa-arrow-circle-down" style="color:green"></i>&nbsp;';
				} else {
					recvStat = recvStat + '<i class="fas fa-times-circle" style="color:red"></i>&nbsp;';
				}
				
				//let curRate = '', avgRate = '', bytes = '';
				
					curRate = Number( parseInt(con.RecvMonitor.CurRate) / 1024 ).toFixed(1);//.toPrecision(1);
					avgRate = Number( parseInt(con.RecvMonitor.AvgRate) / 1024 ).toFixed(1);//.toPrecision(1);
					bytes = Math.floor( parseInt(con.RecvMonitor.Bytes) / 1024 ); 
					
					if (bytes < 1024)	bytes = bytes + ' Kb'; else
					if (bytes > 1024 && bytes < (1024*1024))
						bytes = Math.floor( parseInt(bytes) / 1024 ) + ' Mb'; else 
						bytes = Math.floor( parseInt(bytes) / (1024*1024) ) + ' Gb';
						
				recvStat = recvStat + ' ' + '<span style="cursor:pointer;" title="Current speed, Kb/sec.">'+curRate+'</span>' + '/<span style="cursor:pointer;" title="Average speed, Kb/sec.">' + avgRate + '</span> Kbps; &nbsp;&nbsp;' + bytes;
				
				/*
				let nodeHeight = v.sync_info.latest_block_height;
				
				if (v.sync_info.catching_up == true){
					nodeHeight = nodeHeight + '&nbsp;<i class="fas fa-sync" style="color:red;font-weight:bold;"></i>';
				}
				*/
				
				//Total Kb
				let totb = Math.floor( (parseInt(con.SendMonitor.Bytes) + parseInt(con.RecvMonitor.Bytes)) / 1024 );
				
				indexProtocol.totalNodesBytes = indexProtocol.totalNodesBytes + totb;
				
				
				let z = '<td><a href="http://rpc.'+v.node_info.moniker+'.testnet.indexprotocol.online/" target="_new">'+v.node_info.moniker+'</a></td><td>'+nodeLocation+'</td>' + 
						'<td>'+v.node_info.id+'</td>' + 
						'<td align="left">'+sendStat+'</td>' + 
						'<td align="left">'+recvStat+'</td>';
				// '<td align="center">'+nodeHeight+'</td>
				
				_tpl[ v.node_info.moniker ] = '<tr align="center">' + z + '</tr>';
					//totb: Number( parseInt(indexProtocol.totalNodesBytes) / 1024 ).toFixed(1) + ' Mb. of total traffic.'
				

				/*
				tmp = tmp + '<tr align="center">' + z + '</tr>';
				
				el.find('#net-total-traffic').html( Number( parseInt(indexProtocol.totalNodesBytes) / 1024 ).toFixed(1) + ' Mb. of total traffic.' );
				*/
			});
			
			let _z = _.keys( _tpl );
				_z.sort();
				
				_.each(_z, function(v){
					tmp = tmp + _tpl[ v ];
				});
				
				
			
			el.find('#net-total-traffic').html( Number( parseInt(indexProtocol.totalNodesBytes) / 1024 ).toFixed(1) + ' Mb. of total traffic.' );
			
			el.find('#network-peers-tbl').empty().html( tmp );
		});
	}

	
	
	indexProtocol._timer = setInterval(function(){
		updatePage();
	}, 3000);
</script>


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	INDEXProtocol Network	<small>Testnet network status</small>
  </h1>
  <ol class="breadcrumb">
	<!--
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Dashboard</li>
	-->
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-align-center"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block Height</span>
		  <span class="info-box-number">
			<font id="latest-block-height"></font>
			<br />
			<font id="total-peers-blockchain"></font>
		  </span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-red"><i class="fa fa-clock"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block DateTime</span>
		  <span class="info-box-number" id="latest-block-datetime"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block hash</span>
		  <span class="info-box-number" id="latest-block-hash"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-yellow"><i class="fa fa-server"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Protocol</span>
		  <span class="info-box-number" id="current-protocol"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-info"> 
		<div class="box-header with-border">
		  <h3 class="box-title">Network nodes status</h3>
<!--
		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
-->
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr align="center" style="text-align:center;">
			    <th style="text-align:center;">Node</th>
				<th style="text-align:center;">Location</th>
				<th style="text-align:center;">NodeID</th>
								
				<th style="text-align:left;width:200px;">Send connection</th>
				<th style="text-align:left;width:200px;">Recv connection</th>
				
				<!--<th style="text-align:center;">Height</th>-->
			  </tr>
			  </thead>
			  <tbody id="network-peers-tbl">
				
			  </tbody>
			</table>
		  </div>
		  <!-- /.table-responsive --> 
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
		  <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>-->
		  <span style="" class="pull-left" id="net-total-traffic"></span>
		  <a href="javascript:void updateNetworkInfo();" class="btn btn-sm btn-default btn-flat pull-right">
			<i class="fa fa-sync"></i> Update</a>
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->


<script>
updatePage();
updateNetworkInfo();
</script>