<script>
	if (indexProtocol._timer)
		clearInterval( indexProtocol._timer );
		
	$('.content').hide();
	
	var height = 0;
	
	function updatePage(){
		$.getJSON(indexProtocol.networkURI + '/status', function(res){
			let obj = res.result;
			
			var el = $('.content');
				el.find('#latest-block-height').html( '<a href="javascript: void indexProtocol.blockPage('+obj.sync_info.latest_block_height+');">'+ obj.sync_info.latest_block_height + '</a>'); 
			
			var latestDt = moment( obj.sync_info.latest_block_time );	
				el.find('#latest-block-datetime').html( latestDt.format('DD.MM.YYYY <br />HH:mm ss') );
				
			var latestHash = obj.sync_info.latest_block_hash.substring( 0, 7 ); 
				el.find('#latest-block-hash').html( latestHash.toLowerCase() );
			
			let pv = obj.node_info.protocol_version;
				el.find('#current-protocol').html( pv.app + '.' + pv.block + '.' + pv.p2p + '<br />v' + obj.node_info.version);
			
			//latest height
			let _height = parseInt( obj.sync_info.latest_block_height );
			
			if (indexProtocol.height == _height)
				return;
			
			indexProtocol.height = _height;
			
			//fetch last blocks
			$.getJSON(indexProtocol.networkURI + '/blockchain?minHeight=' + (indexProtocol.height - 20), function(res){
				var obj = res.result;
				var tmp = '';
				
				let totTx = obj.block_metas[0].header.total_txs;
					el.find('#total-tx-blockchain').html( totTx + ' txs' );
					
				let lt = 0; //last block time 
				let ft = moment(obj.block_metas[0].header.time); //first block 
				
				_.each(obj.block_metas, function(v, i){
					let t = '';
					let tm = moment(v.header.time);
					let dft = '(current)';
					
					if (i == 0){
						lt = tm;
						t = '<span title="Latest block">'+tm.format('DD.MM.YYYY <b>HH:mm:ss</b>')+'</span>';   
					}
					else {
						dft = Math.abs( parseInt( tm.diff( lt, 'seconds') ) ) + ' sec.';
						
						/*
						if (dft < 60)
							dft = tm.diff( lt, 'seconds') + ' sec.';
						else
						if (dft > 60 && dft < 3600)
							dft = tm.diff( lt, 'minutes') + ' min.';
						else
							dft = tm.diff( lt, 'hours') + ' h. ago';
						*/
						
						t = '<span>'+tm.format('DD.MM.YYYY HH:mm:ss')+'</span>';
						
						lt = tm;
					}
					
					//let txs = '&nbsp;';
					 
					if (v.header.num_txs > 0)
						txs = '<b>' + v.header.num_txs + '</b>';
					else
						txs = '<i>0</i>';
				
				// 
					let z = '<td><a href="javascript: void indexProtocol.blockPage('+v.header.height+');">'+v.header.height+'</a></td>' + 
							'<td title="Block hash: '+v.block_id.hash+'" style="cursor:pointer;">'+v.block_id.hash.substring( 0, 32 ).toLowerCase()+'</td>' + 
							'<td style="width:200px;">'+ t + '</td>' + 
							'<td>'+ dft + '</td>' + 
							'<td title="Proposal address: '+v.header.proposer_address+'" style="cursor:pointer;">'+v.header.proposer_address.substring( 0, 16 ).toLowerCase()+'</td>' + 
							'<td>'+txs+'</td>';
							
					tmp = tmp + '<tr align="center">' + z + '</tr>';
				});
				
				el.find('#latest-blocks-tbl').empty().html( tmp );
				
				
			});
			
			
			el.show();
		});
	}

</script>


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	INDEXProtocol Network	<small>Testnet</small>
  </h1>
  <ol class="breadcrumb">
	<!--
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Dashboard</li>
	-->
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-align-center"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block Height</span>
		  <span class="info-box-number">
			<font id="latest-block-height"></font>
			<br />
			<font id="total-tx-blockchain"></font>
		  </span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-red"><i class="fa fa-clock"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block DateTime</span>
		  <span class="info-box-number" id="latest-block-datetime"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block hash</span>
		  <span class="info-box-number" id="latest-block-hash"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-yellow"><i class="fa fa-server"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Protocol</span>
		  <span class="info-box-number" id="current-protocol"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-info"> 
		<div class="box-header with-border">
		  <h3 class="box-title">Latest Blocks</h3>
<!--
		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
-->
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr align="center" style="text-align:center;">
				<th style="text-align:center;">Height</th>
				<th style="text-align:center;">Hash</th>
				<th style="text-align:center;width:200px;">Block Time</th>
				<th style="text-align:center;">Interval</th>
				<th style="text-align:center;">Proposer</th>
				<th style="text-align:center;">Txs</th>
			  </tr>
			  </thead>
			  <tbody id="latest-blocks-tbl">
				
			  </tbody>
			</table>
		  </div>
		  <!-- /.table-responsive -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
		  <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
		  <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>-->
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->


<script>
updatePage();
</script>