<script>
	if (indexProtocol._timer)
		clearInterval( indexProtocol._timer );
		
	$('.content').hide();
	
	
	
	
	
	function updatePage(){
		$.getJSON('https://rpc.testnet.indexprotocol.online/status', function(res){
			let obj = res.result;
			
			var el = $('.content');
				el.find('#latest-block-height').html( '<a href="javascript: void indexProtocol.blockPage('+obj.sync_info.latest_block_height+');">'+ obj.sync_info.latest_block_height + '</a>');
			
			var latestDt = moment( obj.sync_info.latest_block_time );	
				el.find('#latest-block-datetime').html( latestDt.format('DD.MM.YYYY <br />HH:mm ss') );
				
			var latestHash = obj.sync_info.latest_block_hash.substring( 0, 7 ); 
				el.find('#latest-block-hash').html( latestHash.toLowerCase() );
			
			let pv = obj.node_info.protocol_version;
				el.find('#current-protocol').html( pv.app + '.' + pv.block + '.' + pv.p2p + '<br />v' + obj.node_info.version);
			
			//latest height
			let _height = parseInt( obj.sync_info.latest_block_height );
			
			//if (indexProtocol.height == _height)
			//	return;
			
			indexProtocol.height = _height;
			
			el.show();
			
			//updateValidatorsInfo();
		});
	}
	
	function updateValidatorsInfo(){
		//fetch last blocks
		$.getJSON('https://rpc.testnet.indexprotocol.online/genesis', function(res){
			var el = $('.content');
			var obj = res.result;
			var tmp = '';
						
			let totVl = obj.genesis.validators.length;
				el.find('#total-validators').html( totVl + ' validators' );
			
			_.each(obj.genesis.validators, function(v, i){
				let t = v.name.substring(0, 2);
				let nodeLocation = indexProtocol.nodeCodes[ t ];
				
				if (!nodeLocation) nodeLocation = '<i>unk</i>';
				if (v.name == 'dev') nodeLocation = '<b>DEV</b>';
				
				let z = '<td><a href="http://rpc.'+v.name+'.testnet.indexprotocol.online/" target="_new">'+v.name+'</a></td><td>'+nodeLocation+'</td>' + 
						'<td>'+v.address.toLowerCase()+'</td>' + 
						'<td>'+v.pub_key.value+'</td>' + 
						'<td>'+v.power+'</td>';  
						
				tmp = tmp + '<tr align="center">' + z + '</tr>';
				
						
				
								
			});
			
			el.find('#validators-tbl').empty().html( tmp );
		});
	}

</script>


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	INDEXProtocol Network <small>Testnet</small>
  </h1>
  <ol class="breadcrumb">
	<!--
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Dashboard</li>
	-->
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-align-center"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block Height</span>
		  <span class="info-box-number">
			<font id="latest-block-height"></font>
			<br />
			<font id="total-validators"></font>
		  </span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-red"><i class="fa fa-clock"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block DateTime</span>
		  <span class="info-box-number" id="latest-block-datetime"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Block hash</span>
		  <span class="info-box-number" id="latest-block-hash"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
	  <div class="info-box">
		<span class="info-box-icon bg-yellow"><i class="fa fa-server"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">Protocol</span>
		  <span class="info-box-number" id="current-protocol"></span>
		</div>
		<!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
	<div class="col-md-12">
		<!-- TABLE: LATEST ORDERS -->
	  <div class="box box-info"> 
		<div class="box-header with-border">
		  <h3 class="box-title">Validators list</h3>
<!--
		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
-->
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr align="center" style="text-align:center;">
			    <th style="text-align:center;">Node</th>
				<th style="text-align:center;">Location</th>
				<th style="text-align:center;width:200px;">Address</th>
				<th style="text-align:center;width:200px;">Public Key (Ed25519)</th>
				<th style="text-align:center;">Power</th>
			  </tr>
			  </thead>
			  <tbody id="validators-tbl">
				
			  </tbody>
			</table>
		  </div>
		  <!-- /.table-responsive -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
		  <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
		  <a href="javascript:void updateNetworkInfo();" class="btn btn-sm btn-default btn-flat pull-right">
			<i class="fa fa-sync"></i> Update</a>-->
		</div>
		<!-- /.box-footer -->
	  </div>
	</div>
	<!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->


<script>
updatePage();
updateValidatorsInfo();
</script>